*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    /*footer support*/
    position: relative;
    min-height: 100%;
}

body {
    font-size: 18px;
    text-align: center;
    background-color: #c7f4ff;
    margin: 0;
    height: 100vh;
}

button, input {
    font-size: inherit;
    font-family: inherit;
    border: none;
    padding: 8px 32px;
    cursor: pointer;
    outline: none;
    width: 100%;
}

/*styling header*/
h1 {
    margin: 0;
}

/*styling main*/
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;

}

/**styling options panel**/
.options {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.options div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/***styling color options panel***/




/***styling grid options panel***/


/**styling grid**/
.grid {
    width: 640px;
    height: 640px;
    background-color: #ffffff;
    display: grid;
}

.grid div {
    user-select: none;
}

/*footer*/
footer {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   text-align: center;
}