.grid {
    width: 640px;
    height: 640px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

.square {
    margin: 0;
    border: 0;
    padding: 0;
    flex: 1;
    background-color: #f5f5f5;
}

/*square colors*/

.monochromatic .square{
    background-color: #000000;
}